[submodule "baseimage-docker"]
	path = baseimage-docker
	url = git@github.com:datacratic/baseimage-docker.git
[submodule "ext/tensorflow"]
	path = ext/tensorflow
	url = git@github.com:mldbai/tensorflow
[submodule "ext/re2"]
	path = ext/re2
	url = https://github.com/mldbai/re2.git
[submodule "ext/jpeg"]
	path = ext/jpeg
	url = https://github.com/mldbai/JPeg9A.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/mldbai/eigen.git
[submodule "ext/edlib"]
	path = ext/edlib
	url = git@github.com:mldbai/edlib.git
[submodule "ext/s2-geometry-library"]
	path = ext/s2-geometry-library
	url = https://github.com/mldbai/s2-geometry-library.git
[submodule "ext/uap-cpp"]
	path = ext/uap-cpp
	url = https://github.com/mldbai/uap-cpp.git
[submodule "ext/uap-core"]
	path = ext/uap-core
	url = https://github.com/mldbai/uap-core.git
[submodule "ext/protobuf"]
	path = ext/protobuf
	url = https://github.com/mldbai/protobuf
[submodule "ext/farmhash"]
	path = ext/farmhash
	url = https://github.com/mldbai/farmhash.git
[submodule "ext/highwayhash"]
	path = ext/highwayhash
	url = https://github.com/mldbai/highwayhash.git
[submodule "mongodb/ext/mongo-cxx-driver"]
	path = mongodb/ext/mongo-cxx-driver
	url = git@github.com:mldbai/mongo-cxx-driver.git
[submodule "mongodb/ext/libbson"]
	path = mongodb/ext/libbson
	url = git@github.com:mldbai/libbson.git
[submodule "mongodb/ext/mongo-c-driver"]
	path = mongodb/ext/mongo-c-driver
	url = git@github.com:mldbai/mongo-c-driver.git
[submodule "mongodb/ext/mnmlstc"]
	path = mongodb/ext/mnmlstc
	url = git@github.com:mldbai/mnmlstc.git
[submodule "ext/v8-cross-build-output"]
	path = ext/v8-cross-build-output
	url = https://github.com/mldbai/v8-cross-build-output.git
[submodule "ext/gmock"]
	path = ext/gmock
	url = git@github.com:mldbai/gmock-1.7.0.git
[submodule "ext/giflib"]
	path = ext/giflib
	url = https://github.com/mldbai/giflib.git
[submodule "ext/pffft"]
	path = ext/pffft
	url = https://github.com/mldbai/pffft.git
[submodule "ext/JSONTestSuite"]
	path = ext/JSONTestSuite
	url = https://github.com/mldbai/JSONTestSuite.git
[submodule "ext/zstd"]
	path = ext/zstd
	url = https://github.com/mldbai/zstd.git
[submodule "testing/mldb_sample_plugin"]
	path = testing/mldb_sample_plugin
	url = git@github.com:mldbai/mldb_sample_plugin.git
[submodule "ext/easyexif"]
	path = ext/easyexif
	url = https://github.com/mldbai/easyexif.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = https://github.com/mldbai/libgit2.git
[submodule "ext/casablanca"]
	path = ext/casablanca
	url = git@github.com:Microsoft/cpprestsdk.git
[submodule "ext/azure-storage-cpp"]
	path = ext/azure-storage-cpp
	url = git@github.com:mldbai/azure-storage-cpp.git
