[submodule "baseimage-docker"]
	path = baseimage-docker
	url = https://github.com/mldbai/baseimage-docker.git
[submodule "ext/tensorflow"]
	path = plugins/tensorflow/ext/tensorflow
	url = https://github.com/mldbai/tensorflow
[submodule "ext/re2"]
	path = ext/re2
	url = https://github.com/mldbai/re2.git
[submodule "ext/jpeg"]
	path = ext/jpeg
	url = https://github.com/mldbai/JPeg9A.git
[submodule "ext/eigen"]
	path = plugins/tensorflow/ext/eigen
	url = https://github.com/mldbai/eigen.git
[submodule "ext/edlib"]
	path = ext/edlib
	url = https://github.com/mldbai/edlib.git
[submodule "ext/uap-cpp"]
	path = plugins/html/ext/uap-cpp
	url = https://github.com/mldbai/uap-cpp.git
[submodule "ext/uap-core"]
	path = plugins/html/ext/uap-core
	url = https://github.com/mldbai/uap-core.git
[submodule "ext/protobuf"]
	path = plugins/tensorflow/ext/protobuf
	url = https://github.com/mldbai/protobuf
[submodule "ext/farmhash"]
	path = ext/farmhash
	url = https://github.com/mldbai/farmhash.git
[submodule "ext/highwayhash"]
	path = ext/highwayhash
	url = https://github.com/mldbai/highwayhash.git
[submodule "mongodb/ext/mongo-cxx-driver"]
	path = plugins/mongodb/ext/mongo-cxx-driver
	url = https://github.com/mldbai/mongo-cxx-driver.git
[submodule "mongodb/ext/libbson"]
	path = plugins/mongodb/ext/libbson
	url = https://github.com/mldbai/libbson.git
[submodule "mongodb/ext/mongo-c-driver"]
	path = plugins/mongodb/ext/mongo-c-driver
	url = https://github.com/mldbai/mongo-c-driver.git
[submodule "mongodb/ext/mnmlstc"]
	path = plugins/mongodb/ext/mnmlstc
	url = https://github.com/mldbai/mnmlstc.git
[submodule "ext/v8-cross-build-output"]
	path = ext/v8-cross-build-output
	url = https://github.com/mldbai/v8-cross-build-output.git
[submodule "ext/gmock"]
	path = ext/gmock
	url = https://github.com/mldbai/gmock-1.7.0.git
[submodule "ext/giflib"]
	path = ext/giflib
	url = https://github.com/mldbai/giflib.git
[submodule "ext/pffft"]
	path = ext/pffft
	url = https://github.com/mldbai/pffft.git
[submodule "ext/JSONTestSuite"]
	path = ext/JSONTestSuite
	url = https://github.com/mldbai/JSONTestSuite.git
[submodule "ext/zstd"]
	path = ext/zstd
	url = https://github.com/mldbai/zstd.git
[submodule "testing/mldb_sample_plugin"]
	path = testing/mldb_sample_plugin
	url = https://github.com/mldbai/mldb_sample_plugin.git
[submodule "ext/easyexif"]
	path = ext/easyexif
	url = https://github.com/mldbai/easyexif.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = https://github.com/mldbai/libgit2.git
[submodule "ext/fasttext"]
	path = ext/fasttext
	url = https://github.com/mldbai/fastText.git
[submodule "ext/casablanca"]
	path = plugins/azure/ext/casablanca
	url = https://github.com/mldbai/cpprestsdk.git
[submodule "ext/azure-storage-cpp"]
	path = plugins/azure/ext/azure-storage-cpp
	url = https://github.com/mldbai/azure-storage-cpp.git
[submodule "pymldb"]
	path = pymldb
	url = https://github.com/datacratic/pymldb.git
[submodule "html/ext/libhubbub"]
	path = plugins/html/ext/libhubbub
	url = https://github.com/mldbai/libhubbub.git
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/mldbai/concurrentqueue.git
[submodule "ext/libarchive"]
	path = ext/libarchive
	url = https://github.com/mldbai/libarchive.git
[submodule "ext/s2geometry"]
	path = ext/s2geometry
	url = https://github.com/mldbai/s2geometry.git
[submodule "ext/cryptopp"]
	path = ext/cryptopp
	url = https://github.com/mldbai/cryptopp.git
[submodule "mldb_test_data"]
	path = mldb_test_data
	url = https://gitlab.com/mldbai/mldb_test_data.git
[submodule "ext/OpenCL-Headers"]
	path = ext/OpenCL-Headers
	url = https://github.com/mldbai/OpenCL-Headers.git
[submodule "ext/mtlpp"]
	path = ext/mtlpp
	url = https://github.com/mldbai/mtlpp.git
