[submodule "baseimage-docker"]
	path = baseimage-docker
	url = git@github.com:datacratic/baseimage-docker.git
[submodule "ext/tensorflow"]
	path = ext/tensorflow
	url = https://github.com/mldbai/tensorflow
[submodule "ext/re2"]
	path = ext/re2
	url = https://github.com/mldbai/re2.git
[submodule "ext/jpeg"]
	path = ext/jpeg
	url = https://github.com/mldbai/JPeg9A.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/mldbai/eigen.git
[submodule "ext/s2-geometry-library"]
	path = ext/s2-geometry-library
	url = https://github.com/mldbai/s2-geometry-library.git
