# python_requirements.txt
#
# - Add only direct dependencies that are required to *build and run the tests*.
#   pydata packages should be added to python_requirement_mldb_base.txt instead
# - Put version of direct dependencies here, however keep in mind that versions
#   from the constraints files have precedence over the requirements file.
# - Keeping a comment for weird deps would be nice.
# - Requirements that only work on a single platform (like prctl) should be in
#   requirements-$(OSNAME).txt instead of this file; it's only for common
#   requirements across all platforms.
#

# jinja cli for rendering of templated config files
Jinja2==3.0.1
j2cli==0.3.10

# build
flake8==7.1.1
mccabe==0.7.0
pep8==1.7.1
pyflakes==3.2.0
twine==3.3.0
wheel==0.45.1

# Docker images
docker-squash==1.2.2

# Misc
Markdown==3.7
dateutils==0.6.12
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
Pygments==2.9.0
setuptools==75.6.0
lz4==4.3.3
pyzstd==0.16.2

# Fix requests broken dependencies
urllib3==1.26.20
six==1.16

# MLDB-684-test-server.py
bottle==0.12.23

# benchmarks
elasticsearch==7.17.12
psutil==6.1.0

# MLDBFB-499
boto==2.49.0

# Mongo plugin
pymongo==4.10.1

# Ubuntu 18.04
pyOpenSSL==20.0.1