# python_requirements.txt
#
# - Add only direct dependencies that are required to *build and run the tests*.
#   pydata packages should be added to python_requirement_mldb_base.txt instead
# - Put version of direct dependencies here, however keep in mind that versions
#   from the constraints files have precedence over the requirements file.
# - Keeping a comment for weird deps would be nice.
#

# jinja cli for rendering of templated config files
Jinja2==2.8
j2cli==0.3.1.post0

# build
flake8==2.5.4
mccabe==0.4.0
pep8==1.7.0
pyflakes==1.0.0
twine==1.6.5
wheel==0.29.0

# Misc
Markdown==2.6.5
dateutils==0.6.6
python-dateutil==2.4.2
pytz==2015.7
requests[security]==2.9.1
python-prctl==1.6.1
Pygments==2.1.1
setuptools==20.3.1
lz4==0.7.0

# MLDB-684-test-server.py
bottle==0.12.9

# benchmarks
elasticsearch==2.2.0
psutil==3.4.2

# MLDBFB-499
boto==2.39.0

# Mongo plugin
pymongo==3.3.0
