@import url(http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700);

p, li, th, td, dl, dd, input, #version { font-family: "Roboto"; color: #333;}
h1,h2,h3,h4,h5, .title { font-family: "Roboto Slab"; font-weight: bold;}
table.header th{
    text-align: right;
}
div.table{
    display: table;
    width: 100%;
}
table{
    border-collapse: collapse;
    margin: auto;
}


th, td {
    border: solid 1px lightgrey;
    font-size: 18px;
    padding: 5px;
    vertical-align: top;
}


th {
    font-family: Roboto Slab;
}

table.frametable td { border: 0;}


td.hd, th.hd{
    font-size: 10pt;
}

p, li {
    line-height: 1.6;
    font-size: 18px;
}
li {padding-bottom: 10px;}
td p { margin: 10px;}

li ul li {padding-bottom: 0;}
a, a:visited, a:hover {color:#3A62AD;}

code,pre { background: #F0F0EE;font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;}

pre {padding: 15px;    font-size: 16px;}


li {padding-bottom: 5px;}
li ul li {padding-bottom: 0;}
